<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="icon" href="/favicon.ico">

<head>
	<title>MG YouTube - Parents - Vue.JS</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<h1>MG YouTube - Parents</h1>

	<div id="parentsapp">
	</div>

	<script src="api.login.functions.js"></script>
	<script src="api.parents.functions.js"></script>
	<script src="api.video.functions.js"></script>
	<script src="https://www.youtube.com/player_api"></script>
	<script>

		const globalState = {
			loggedInUsername: null,
		};

		Vue.component("playerpanel", {
			props: ['videoId'],
			computed: {
				theVideoUrl: function () {
					return "https://www.youtube.com/embed/" + this.videoId + "?ref=0&amp;enablejsapi=1&amp;widgetid=1&amp;modestbranding=1";
				},
				showable: function () {
					return (this.videoId);
				}
			},
			template: '\
			<div id="playerwrapper">\
				<div style="display:none">{{videoId}}</div>\
				<div style="display:none">{{theVideoUrl}}</div>\
				<iframe v-if="showable" id="youtubeplayer" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" v-bind:src="theVideoUrl"></iframe>\
			</div>\
			'
		});

		Vue.component('searchpanel', {

			data: function () {
				return {
					theSearchTerms: null,
					theVideos: [],
					theVideoId: null,
					theSavedSearches: [],
					showingSavedSearchResults: false
				}
			},
			methods: {
				onSaveSearchHandler: function () {
					if (this.theSearchTerms) {
						api_saveSearch(globalState.loggedInUsername, this.theSearchTerms, () => this.saveSearchSuccess(), () => this.saveSearchFailed());
						this.showingSavedSearchResults = true;
					}
					else {
						alert("no search phrase to save")
					}
				},
				onSearchHandler: function (event) {
					api_getVideoSearchResults(this.theSearchTerms, (videos) => this.searchSuccess(videos), () => this.searchFailed());
					this.showingSavedSearchResults = false;
				},
				searchSuccess: function (videos) {
					this.theVideos = videos;
				},
				searchFailed: function () {
					alert("searching for  '" + this.theSearchTerms + "' failed");
				},
				saveSearchSuccess: function () {
					api_getSavedSearchesForParent(globalState.loggedInUsername, (savedSearches) => this.getSavedSearchesSuccess(savedSearches), () => this.getSavedSearchesFailed());
					this.showingSavedSearchResults = true;
				},
				saveSearchFailed: function () {
					alert("saving search for  '" + this.theSearchTerms + "' failed");
					this.showingSavedSearchResults = false;
				},
				getSavedSearchesSuccess: function (savedSearches) {
					this.theSavedSearches = savedSearches;
					// dont change showingSavedSearchResults here
				},
				getSavedSearchFailed: function () {
					alert("retrieving saved searches failed");
					this.showingSavedSearchResults = false;
				},
				watchVideo: function (event) {
					this.theVideoId = event;
				},
				onSavedSearchClicked: function (event) {
					var index = event;
					var searchPhrase = this.theSavedSearches[index];
					api_getVideoSearchResults(searchPhrase, (videos) => this.searchSuccess(videos), () => this.searchFailed());
					this.theSearchTerms = searchPhrase;
					this.showingSavedSearchResults = true;
				},
				onDeleteSavedSearchHandler: function (event) {
					if (this.theSearchTerms) {
						api_deleteSavedSearch(globalState.loggedInUsername, this.theSearchTerms, () => this.deleteSavedSearchSuccess(), () => this.deleteSavedSearchFailed());
					}
					else {
						alert("no search phrase to delete")
					}
				},
				deleteSavedSearchSuccess: function () {
					api_getSavedSearchesForParent(globalState.loggedInUsername, (savedSearches) => this.getSavedSearchesSuccess(savedSearches), () => this.getSavedSearchesFailed());
					this.showingSavedSearchResults = false;
					this.theSearchTerms = undefined;
					this.theVideos = []
				},
				deleteSavedSearchFailed: function () {
					alert("deleting saved searches failed");
					this.showingSavedSearchResults = false;
				}
			},
			template: '\
			<div id="searchpanel">\
				<div id="savedsearchespanel">\
					<div v-for="(phrase, index) in theSavedSearches">\
						<div><a v-on:click="onSavedSearchClicked(index)" href="#">{{phrase}}</a></div>\
					</div>\
				</div>\
				<playerpanel v-bind:videoId="theVideoId" />\
				<div id="searchtermspanel">\
					<h3> Search Terms</h3>\
					<label for="searchterms">Search for:</label>\
					<input id="searchterms" type="text" v-model="theSearchTerms" />\
					<button id="submitSearchTermsButton" v-on:click="onSearchHandler">Search</button>\
				</div>\
				<div id="searchresultspanel">\
					<div><button v-if="theVideos.length > 0" id="submitSaveSearchButton" v-on:click="onSaveSearchHandler">Save Search</button></div>\
					<div><button v-if="showingSavedSearchResults" id="deleteSavedSearchButton" v-on:click="onDeleteSavedSearchHandler">Delete Saved Search</button></div>\
					<div v-for="(video, index) in theVideos">\
						<div v-bind:id="`search-result-` + index" >\
							<div v-bind:id="`search-result-` + index + `-video-` + video.videoId"><a v-bind:id="`search-result-` + index + `-watch`" v-on:click="watchVideo(video.videoId)" href="#"><img v-bind:src="video.thumbnailUrl"/>{{ video.title }}</a></div>\
							<div>{{ video.description }}</div>\
						</div>\
					</div>\
				</div>\
			</div>\
			',
			created() {
				api_getSavedSearchesForParent(globalState.loggedInUsername, (savedSearches) => this.getSavedSearchesSuccess(savedSearches), () => this.getSavedSearchFailed());
			}
		});

		Vue.component('addchildrenpanel', {
			props: [
				'on-child-added'
			],
			data: function () {
				return {
					theChildUsername: null,
					theChildPassword: null
				}
			},
			methods: {
				addNewChildClickHandler: function (event) {
					api_addChildToParent(globalState.loggedInUsername, this.theChildUsername, this.theChildPassword, this.addNewChildSuccess, this.addNewChildFailed);
				},
				addNewChildSuccess: function (newChild) {
					this.$emit('on-child-added', newChild)
					this.theChildUsername = null;
					this.theChildPassword = null;
				},
				addNewChildFailed: function () {
					alert("adding child " + this.theChildUsername + " failed");
				}
			},
			template: '\
			<div id="addchildpanel">\
				<label for="newchildnamefield">New Child Username</label>\
				<input id="newchildnamefield" type="text" v-model="theChildUsername"/>\
				<label for="newchildpasswordfield">New Child Password</label>\
				<input id="newchildpasswordfield" type="password" v-model="theChildPassword"/>\
				<button id="addNewChildButton" v-on:click="addNewChildClickHandler">Add Child</button>\
			</div>\
			'
		});

		Vue.component('childrenpanel', {
			props: [],
			data: function () {
				return {
					children: [],
				}
			},
			methods: {
				childAddedHandler: function (event) {
					api_getAllChildrenForParent(globalState.loggedInUsername, this.getAllChildrenSuccess, this.getAllChildrenFailed)
				},
				getAllChildrenSuccess: function (children) {
					this.children = children;
				},
				getAllChildrenFailed: function () {
					alert("getting all children for " + globalState.loggedInUsername + " failed");
				},
				selectChild: function (childIndex) {
					console.log("selectChild", childIndex);
					console.log("selectChild", this.children[childIndex]);
				}
			},
			template: '\
			<div id="childrenpanel">\
				<div v-for="(child, index) in children">\
					<div><a v-on:click="selectChild(index)" href="#">{{child.username}}</a></div>\
				</div>\
				<addchildrenpanel v-on:on-child-added="childAddedHandler" />\
			</div>\
			',
			created() {
				this.childAddedHandler();
			}
		});


		Vue.component('loginform', {
			props: [],
			data: function () {
				return {
					theUsername: null,
					thePassword: null
				}
			},
			methods: {
				loginClickHandler: function (event) {
					api_login(this.theUsername, this.thePassword, this.loginSuccessful, this.loginFailed);
				},
				loginSuccessful: function (loggedInUser) {
					this.$emit("logged-in", loggedInUser)
				},
				loginFailed: function (event) {
					alert("login failed");
				}
			},
			template: '<div id="auth"><input name="username" type="text" v-model="theUsername"  autocomplete="your username"/><input name="password" type="password" v-model="thePassword" autocomplete="your password"/><button id="loginButton" v-on:click="loginClickHandler">Login</button></div>'
		});
		// TODO: adding the form breaks Basic Parent Operations stories...
		//template: '<div id="auth"><form><input name="username" type="text" v-model="theUsername"  autocomplete="your username"/><input name="password" type="password" v-model="thePassword" autocomplete="your password"/><button id="loginButton" v-on:click="loginClickHandler">Login</button></form></div>'

		Vue.component('logoutform', {
			props: [],
			methods: {
				logoutClickHandler: function (event) {
					this.$emit('logged-out')
				}
			},
			template: '<div id="auth"><button id="logoutButton" v-on:click="logoutClickHandler">Logout</button></div>'
		});


		var parentsapp = new Vue({
			el: '#parentsapp',
			methods: {
				loginSuccessful: function (loggedInUser) {
					console.log("parentsapp.loginSuccessful", loggedInUser);
					this.userIsAuthenticated = true;
					globalState.loggedInUsername = loggedInUser.username;
				},
				logoutSuccessful: function () {
					console.log("parentsapp.logoutSuccessful");
					this.userIsAuthenticated = false;
					globalState.loggedInUsername = null;
				}
			},
			data: {
				userIsAuthenticated: false
			},
			template: '\
				<div>\
				<logoutform v-if="userIsAuthenticated" v-on:logged-out="logoutSuccessful"></logoutform>\
				<loginform v-else-if="!userIsAuthenticated" v-on:logged-in="loginSuccessful"></loginform>\
				<childrenpanel v-if="userIsAuthenticated" />\
				<searchpanel v-if="userIsAuthenticated"/>\
				</div>\
			'
		})
	</script>
</body>

</html>